#clickToAdd{
    background:red;
}

.item{
    height: 200px;
    width: 200px;
    font-size: 50px;
    text-align: center;
    background: #90F;
    margin: 50px;
    border: solid 10px;
    border-radius: 30px;
}