/* homepage css*/
.top {
    background-color: #ADD8E6;
    padding: 100px;
}
.aboutme {
    background-color: orange;
    padding-bottom: 400px;
    padding-right: 20px;
}

#bryan {
    border: solid grey 5px;
    width: 425px;
    font-size: 63px;
}

#desc {
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
li {
    display: inline ;
    padding: 0px 20px;
    font-size: 18px;
}

.btn-home {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border-color: rgba(255,255,255,.5);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-home:hover {
    background: #FFF;
}

